<ng-container *ngIf="isLoading; else quizContent">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="spinner-border spinner-large text-primary fs-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-template #quizContent>
    <!-- Content project Navigation Component via Accordion Component -->
    <app-accordion [id]="ACCORDION_ID" [title]="ACCORDION_TITLE">
        <app-navigation [questions]="questions" [isQuizActive]="true" [index]="index"
            (navigateToQuestion)="handleQuestionNavigation($event)"></app-navigation>
    </app-accordion>
    <app-prompt *ngIf="question" [question]="question" [enableQuizNavigation]="true" [index]="index"
        [totalQuestions]="questions.length" (retrieveQuestion)="saveAndNavigate($event)"></app-prompt>
</ng-template>
<app-modal [modalPayload]="modalPayload" (confirm)="navigateToResults($event)"></app-modal>