<nav class="bg-light py-2 mb-2 border-bottom">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-0">
      <div>
        <span class="h1">{{ title }}</span>
      </div>
      <div>
        <span *ngIf="isQuizActive" class="h4">Time Left: <span [ngClass]="{'text-danger': timeLeftInSeconds <= 300}">{{ hours }}:{{ minutes }}:{{ seconds }}</span></span>
      </div>
      <div>
        <button *ngIf="isQuizActive" class="btn btn-danger" (click)="endQuiz()">End Quiz</button>
      </div>
    </div>
  </div>
</nav>