.pointer:hover {
    cursor: pointer;
}

.pointer:disabled {
    cursor: none;
}

pre {
    white-space: pre-wrap;
    overflow-x: auto;
}

code {
    display: block;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}