<div class="grid">
    <div class="row">
        <h1 class="col-12 h1 text-center my-3">Select a Quiz JSON File</h1>
        <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 d-flex justify-content-center">
            <input #fileInput class="form-control my-3" type="file" (change)="onFileSelected($event)" 
                [disabled]="questions.length >= MAX_QUESTIONS" accept=".json" multiple/>
        </div>
        <div *ngIf="errorMessage" class="text-center text-danger">
            <h6 class="h6">
                {{ errorMessage }}
            </h6>
        </div>
        <div *ngIf="quizzes.size > 0" class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <h3 class="h3">Uploaded Files:</h3>
            <ul class="list-group rounded-0">
                <li *ngFor="let fileName of quizzes | keyvalue" class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-wrap">{{ fileName.key | truncate:TRUNCATE_LIMIT }} - Questions: {{ fileName.value.length }}</span>
                        <img class="trash" (click)="removeFile(fileName.key)" src="assets/icons/trash-solid-red-full.svg" alt="Trash Icon">
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="questions.length > 0" class="text-center my-3">
            <h4 class="h4">Loaded Questions: {{ questions.length }}</h4>
        </div>
        <div class="col-12 offset-md-2 col-md-4 my-3 pe-0">
            <div class="d-flex justify-content-start justify-content-md-end align-items-center mb-2">
                <label for="quiz-duration" class="form-label mb-0 me-2 h6">Quiz Duration in Minutes:</label>
                <input id="quiz-duration" type="number" class="form-control focus-ring px-1 px-lg-2 w-25" 
                    [ngClass]="{'invalid-input-field': minutes < MIN_MINUTES || minutes > MAX_MINUTES}" 
                    [(ngModel)]="minutes" [min]="MIN_MINUTES" [max]="MAX_MINUTES" step="5"
                    (blur)="onMinutesChange()"/>
            </div>
            <div class="d-flex justify-content-start justify-content-md-end">
                <span *ngIf="minutes < MIN_MINUTES || minutes > MAX_MINUTES" class="text-danger">Minutes must be between {{ MIN_MINUTES }} and {{ MAX_MINUTES }}</span>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-end justify-content-md-start my-3 ps-0">
            <button class="btn btn-secondary btn-fixed-height mx-3" (click)="clearFiles()" [disabled]="quizzes.size === 0">Clear Files</button>
            <button class="btn btn-primary btn-fixed-height" (click)="startQuiz()" [disabled]="questions.length === 0 || minutes < MIN_MINUTES || minutes > MAX_MINUTES">Start Quiz</button>
        </div>
    </div>
</div>