.trash {
    width: 1.25rem;
    height: 1.25rem;
}

.trash:hover {
    cursor: pointer;
}

.btn-fixed-height {
    height: 38px;
}

.invalid-input-field {
    border: 1px solid #dc3545;
    --bs-focus-ring-color: rgba(255, 0, 0, 0.25);
}