<div class="accordion accordion-flush border my-3" id="accordion-{{id}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne-{{id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseOne-' + id" aria-expanded="false"
                [attr.aria-controls]="'collapseOne-' + id">
                <span class="h5">
                    {{ title }}
                </span>
            </button>
        </h2>
        <div id="collapseOne-{{id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingOne-' + id"
            [attr.data-bs-parent]="'accordion-' + id">
            <div class="accordion-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>